@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
/* Primary color: #FF4370 */

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* background-color: #b6c0ce; */
  background-color: #f0f4fa;
  display: flex;
  justify-content: center;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  font-weight: 500;
}

main {
  max-width: 1200px;
  width: 100%;
  height: 900px;
  border: 2px dashed green;
  margin: 0 auto;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  /* overflow: hidden; */
  /* resize: both; */
}

.page-content {
  border: 2px dashed #7B61FF;
  flex-grow: 1;
  overflow: scroll;
  background-color: #f0f4fa;
  padding: 16px;
  max-width: 560px;
}

.debug {
  /* border: 1px dashed salmon; */
}

.grow {
  flex-grow: 1;
}

ul {
  list-style-type: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 64px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  width: 100%;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.15);
  border: 2px dashed hotpink;
}

a,
a:visited,
a:hover {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
  font-weight: 500;
  height: 100%;
}

a.active {
  color: #ff4370;
  font-weight: 600;
  box-shadow: inset 0 -4px 0 #ff4370;
}

.navbar * {
  display: flex;
  flex: 1;
}

.navbar li {
  /* border: 1px dashed blueviolet; */
  display: flex;
  align-items: center;
  justify-content: center;
}

