.card {
  padding: 8px 16px 8px 8px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  margin: 0 0 16px 0;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
}

.card-info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

.card-info-top {
  flex-direction: column;
  padding-bottom: 4px;
}

.card-info-bottom {
  display: flex;
  flex-direction: row;
}

.container-rating {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 8px;
}

.container-rating-buttons {
  display: flex;
  justify-content: flex-end;
  align-self: center;
  flex-grow: 1;
}

.container-rating-text {
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  border-radius: 4px;
}

.card-info-bottom > button {
  margin-right: 8px;
}

.card-thumbnail {
  min-width: 80px;
  margin-right: 16px;
  min-height: 112px;
  border-radius: 4px;
}

.card-actions {
  width: 24px;
}

.p-author {
  color: rgba(0, 0, 0, 0.54);
  margin-top: 4px;
}

.p-rating-text {
  color: rgba(0, 0, 0, 0.54);
}

.p-rating-number {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.54);
}

@media screen and (min-width: 720px) {
  .container-rating-buttons button {
    margin-left: 4px;
  }
}